<?xml version="1.0" encoding="UTF-8"?> <!-- Reference Manual http://logback.qos.ch/manual/index.html -->
<configuration>
	<!-- 将状态信息监听器设置为无操作监听器 -->
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 过滤掉 TRACE 和 DEBUG 级别的日志 -->
		<!-- 这里测试用，改为DEBUG -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder charset="UTF-8"> <!-- encoder 可以指定字符集，对于中文输出有意义 -->
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/xbw-logback-default.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>../logs/xbw-logback-default-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>20MB</maxFileSize>
			<maxHistory>60</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 输出到控制台和文件，可定义更多的 Appender -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLING" />
	</root>

	<logger name="com.xbw" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLING" />
	</logger>

</configuration>