<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="30">
    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-6level %logger - %msg%n"/>
        </console>
    </appenders>

    <loggers>
        <logger name="javax.management" level="DEBUG"></logger>
        <root level="ALL">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>